# Ignore local dependencies and vendor packages
/vendor/
/node_modules/

# Ignore local files
composer.phar
*.log

# OS files
.DS_Store
Thumbs.db

# IDE and Editor files
/.vscode/
/.idea/
/.fleet/
/.zed/
/.nova/
