*.log
.DS_Store
.env.backup
.env.production
.env.local
.env.development
.env.test
.phpactor.json
.phpunit.result.cache
/.fleet
/.idea
/.nova
/.phpunit.cache
/.vscode
/.zed
/auth.json
/node_modules
/public/build
/public/hot
/public/storage
/storage/*.key
/storage/pail
/vendor
/.env
Homestead.json
Homestead.yaml
Thumbs.db

